{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

    <h1>All the wild shows:</h1>

    <div class="row">

        {% for program in programs %}
            <div class="col-md-6">
                <ul>
                    <li>
                        <h2> {{ loop.index }}. {{ program.title }} </h2>
                        <h3>{{ program.category.name }}</h3>
                        <p>☞ {{ program.synopsis }}</p>
                        <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-outline-danger">Learn more</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="col-md-12">
                No shows to show...
            </div>
        {% endfor %}
    </div>
    <div>
        <a href="{{ path('app_index') }}">🏠 Back to Home</a>
    </div>
{% endblock %}